name: Build and Push Docker Image

on:
  push:
    tags:
      - "*"  # 当推送 Git 标签时触发

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 检出代码
      - name: Checkout code
        uses: actions/checkout@v4
      
      # 设置 Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 获取仓库名称、Git 标签等信息
      - name: Get repository details
        id: version
        run: |
          VERSION=$(git describe --tags --always)
          FULL_REPO_NAME=${GITHUB_REPOSITORY}  # 例如：username/repo_name
          USER_NAME=$(echo $FULL_REPO_NAME | cut -d'/' -f1)  # 提取 user_name
          REPO_NAME=$(echo $FULL_REPO_NAME | cut -d'/' -f2)  # 提取 repo_name
          REPO_NAME=$(echo $REPO_NAME | tr '[:upper:]' '[:lower:]')  # 转换为小写
          echo "Repository: $REPO_NAME, Version: $VERSION, User: $USER_NAME,FULL_REPO_NAME:$FULL_REPO_NAME"

      # 构建 Docker 镜像
      - name: Build Docker image
        run: |
          IMAGE_NAME="${USER_NAME}/${REPO_NAME}:${VERSION}"
          LATEST_IMAGE_NAME="${USER_NAME}/${REPO_NAME}:latest"
          
          echo "Docker image $IMAGE_NAME built successfully."
          
      # 登录 Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 推送 Docker 镜像
      - name: Push Docker image
        run: |
          IMAGE_NAME="${USER_NAME}/${REPO_NAME}:${VERSION}"
          LATEST_IMAGE_NAME="${USER_NAME}/${REPO_NAME}:latest"
          
          echo "Docker image $IMAGE_NAME pushed successfully."